
.topo__urna {
    position: absolute;
    top: 9.1%;
    left: 19%;
    width: 50vw;
    height: 0;
    border-bottom: 6vmin solid var(--cinza-topo-urna);
    border-left: 8vmax solid transparent;
    border-right: 8vmax solid transparent;
}

.frente__urna {
    position: absolute;
    width: 66vw;
    height: 0;
    top: 15%;
    left: 15%;
    border-bottom: 72vmin solid var(--branco-urna);
    border-left: 4vmax solid transparent;
    border-right: 4vmax solid transparent; 
    border-radius: 40px;
    
}