.visor {
    position: absolute;
    z-index: 6;
}

.visu__presi {
    position: absolute;
    top: 30%;
    left: 25%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    z-index: 8;
    color: black;
}


.num1__resultado{
    position: absolute;
    z-index: 7;
    top: 37%;
    left: 27.5%;
    width: 2.2vmax;
    height: 5vmin;
    border: 1px solid var(--preto-dig);
    text-align: center;
    font-size: 2rem;
}

.num2__resultado{
    position: absolute;
    z-index: 7;
    top: 37%;
    left: 30.2%;
    width: 2.2vmax;
    height: 5vmin;
    border: 1px solid var(--preto-dig); 
    text-align: center;
    font-size: 2rem;
}

.voto__confirmado {
    position: absolute;
    z-index: 7;
    top: 40%;
    left: 29%;
    width: 25vmax;
    height: 20vmin; 
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 9rem;
}